@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Here I am learning dotNET. I hope to travel abroad this year.
        Germany is my country of choice.
    </p>


    <p>The number of products are @Model.Products.Count().ToString()</p>

    @if (Model.Products.Count() > 1)
    {
        <div class="card-columns">
        @foreach (var product in Model.Products)
        {
            <div class="card">
                <div class="card-img" style="background-image: url('@product.Image')"></div>
                <div class="card-body">
                    <h5 class="card-title">@product.Title</h5>
                </div>
            </div>
        }

        </div>
    }
    else
    {
        <strong>No Products available now!!!</strong>
    }
    

   
</div>