@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Here I am learning dotNET. I hope to travel abroad this year.
        Germany is my country of choice.
    </p>
</div>